<head>
    <link rel="stylesheet" href="~/css/Game/BounceMan.css" asp-append-version="true" />
</head>
<canvas id="GameArea"></canvas>
<div id="test">TEST</div>
<script src="/js/bounceMan.js"></script>
