<head>
    <link rel="stylesheet" href="~/css/Game/BrickBreaker.css" asp-append-version="true" />
</head>
<script src="/js/BrickBreaker.js"></script>

<title>Brick Breaker Game</title>

<body>
    <canvas id="board"></canvas>
</body>