
<head>
 

    <link rel="stylesheet" href="~/css/MemoryMatch.css" />
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Memory Match Game</h1>
        <div id="HighScoreContainer">Time Left: 100</div>
        <div id="game-board" class="board"></div>
    </div>


    <script src="~/js/memoryMatch.js"></script>
</body>
</html>