
<head>
    <link rel="stylesheet" href="~/css/Game/MemoryMatch.css" />
</head>
<body> 
    <div>
		<div style="text-align: center;">
			<div id="HighScoreContainer"> Time Left: 100</div>
			<div id="game-board" class="board"></div>
		</div>
		<script src="~/js/memoryMatch.js"></script>
	</div>
</body>
