@page
@model BadEnglishGames.Pages.GameModel
@{
    ViewData["Title"] = "Game";
}

<body>
<<<<<<< Updated upstream
    <h1>TITLE</h1>
    <div class="GameContainer">

    </div>
    <div class="DescriptionContainer"></div>
    <div class="HighScoreContainer"></div>
=======
    <h1>GAME TITLE</h1>
    <div id="GameContainer" class="Center">
        <partial name="_Snake"/>
    </div>
    <div id="DescriptionContainer" class="Center">GAME DESC</div>
    <div id="HighScoreContainer" class="Center">HIGH SCORE</div>
>>>>>>> Stashed changes
</body>

