@page
@model BadEnglishGames.Pages.GameModel
@{
    ViewData["Title"] = "Game";
}

<body>
    <h1>@Model.Game.gameTitle</h1>
    <div class="GameContainer">

    </div>
    <div class="DescriptionContainer"></div>
    <div class="HighScoreContainer"></div>
</body>