@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Welcome to Bad English Games</h1>
    <div class="games-container">
        @foreach (var game in Model.Games)
        {
            <form method="post" asp-page-handler="OnPost">
                <input type="hidden" name="gameTitle" value="@game.gameTitle" />
                <partial name="GameWidget" model="game" />
            </form>
        }
    </div>
</div>