@page
@model BadEnglishGames.Pages.ProfileModel
@{
}

<body>

    <!--IMG-->

    <section>
        <form>
            <div>
        <lable for="Username">Username: </lable>
        <input type="text" id="Username" name="Username" value="@Model.UserName" disabled />
            </div>

            <div>
        <lable for="UserDescription">Description:</lable>
        <textarea id = "UserDescription" name = "UserDescription" rows ="4" cols="50"></textarea>
            </div>

        </form>
        <div>
            <!--Top 3 Game Scores-->
        </div>
    </section>

</body>