@page
@model BadEnglishGames.Pages.ProfileModel
@{
}

<body>

    <!--IMG-->

    <section>
        <p id="Username"></p>
        <p id="UserDescription"></p>
        <div>
            <!--Top 3 Game Scores-->
        </div>
    </section>

</body>